
.papan {
    display: grid;
    grid-template-columns: repeat(9,50px);
    grid-template-rows: repeat(9, 50px);
    justify-content: center;
    margin-left: 50px;
    margin-top: 50px;
}
.papan div {
    border: 1px solid black;
}
.papan div:nth-child(odd) {
    background-color: rgb(185, 48, 48);
}
.papan div:nth-child(even) {
    background-color: rgb(68, 68, 177);
}